<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/css/button.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/card.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/common.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/form.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/layout.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/style.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/table.css' }}">
    <title>Preview Layout</title>
</head>
<body>

{{{ yield }}}

</body>
</html>